.navbar-container{
    background-color: rgb(40, 38, 42);
    margin: 1rem;
    padding: 1rem;
    /* text-align: center; */
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    color: white;
}

.span{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar-container {
      flex-direction:row;
      /* align-items: center; */
      padding: 1rem;
      font-size: 1.5rem;
    }
  
    .span {
      margin-top: 0rem;
    }
  }